﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Webpage2.aspx.cs" Inherits="Sol_Task_Login_asp.net.Webpage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
             <table>
               
                 <tr>
                    <td>


                        <asp:Label ID="Welcome" runat="server"></asp:Label>
                    </td>
                </tr>
                 
                 
                 
                 <tr>
                    <td>


                        <asp:Label ID="lblFirstName" runat="server"></asp:Label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <asp:Label ID="lblLastName" runat="server"></asp:Label>
                    </td>
                </tr>

               <tr>
                    <td>
                        <asp:Button ID="btnSessionDestroy" runat="server" Text="Session_Destroy" OnClick="btnSessionDestroy_Click" />
                    </td>
                </tr>

            </table>

        </div>
    </form>
</body>
</html>
