﻿.TableStyle {
    border-style: solid;
    border-bottom-color: black;
    background-color: bisque;
    height: 200px;
    width: 400px;
    margin-top: 500px;
    margin-bottom: 500px;
    margin-left: 500px;
    margin-right: 500px;
}

.InnerStyle {
    align-content: center;
    padding-right: 50px;
    align-items: center;
    margin-left: 120px;
    margin-top: 40px;
}
